<ion-header [translucent]="true">
  <ion-toolbar>


    <div class="container">
      <div class="header">
        <img class="logo" src="../../assets/images/logo.jpg">
      </div>
      <div class="menu">
        <img class="img" src="../../assets/images/pngegg.png">
        <img class="carrinho" src="../../assets/images/pngaaa.com-3591584 (1).png">
        <div class="user"></div>
      </div>
    </div>


  </ion-toolbar>
  <div class="btns">
    <button name="button" class="btn1s">Legumes</button> <button name="button" class="btn1">Vegetais</button> <button
      class="btn1" name="button">Frutas</button> <button name="button" class="btn1">Laticínios</button><button
      name="button" class="btn1e">Outros</button>
  </div>
</ion-header>


<ion-content [fullscreen]="true">
  <div class="background">


  <div class="title">Legumes</div>
  <div class="legumes">
    <div class="leg">
      <img class="imgleg" src="../../assets/images/batata.webp" width="80px">
      <p class="txtleg">Batata<br>R$ 3,99/Kg</p>
      <button class="addleg">Adicionar</button>
    </div>

    
      <div class="leg">
        <img class="imgleg" src="../../assets/images/beterraba.jfif" width="80px">
        <p class="txtleg">Beterraba<br>R$ 2,45/Kg</p>
        <button class="addleg">Adicionar</button>
      </div>

      
        <div class="leg">
          <img class="imgleg" src="../../assets/images/cenoura.jfif" width="80px">
          <p class="txtleg">Cenoura<br>R$ 2,75/Kg</p>
          <button class="addleg">Adicionar</button>
        </div>

        
          <div class="leg">
            <img class="imgleg" src="../../assets/images/repolhoroxo.jfif" width="80px">
            <p class="txtleg">Repolho Roxo<br>R$ 2,05/und</p>
            <button class="addleg">Adicionar</button>
          </div>

          
            <div class="leg">
              <img class="imgleg" src="../../assets/images/mandioca.jfif" width="80px">
              <p class="txtleg">Mandioca<br>R$ 4,20/Kg</p>
              <button class="addleg">Adicionar</button>
            </div>


              <div class="leg">
                <img class="imgleg" src="../../assets/images/batatadoceroxa.jfif" width="80px">
                <p class="txtleg">Batata Roxa<br>R$ 4,52/Kg</p>
                <button class="addleg">Adicionar</button>
              </div>

  </div>

  <div class="title">Frutas</div>
  <div class="legumes">
    <div class="leg">
      <img class="imgleg" src="../../assets/images/morango.jfif" width="80px">
      <p class="txtleg">Morango<br>R$ 6,00/Cx</p>
      <button class="addleg">Adicionar</button>
    </div>

    
      <div class="leg">
        <img class="imgleg" src="../../assets/images/pitaya.jfif" width="80px">
        <p class="txtleg">Pitaya<br>R$ 2,30/Und</p>
        <button class="addleg">Adicionar</button>
      </div>

      
        <div class="leg">
          <img class="imgleg" src="../../assets/images/melancia.jfif" width="80px">
          <p class="txtleg">Melancia<br>R$ 5,12/Kg</p>
          <button class="addleg">Adicionar</button>
        </div>

        
          <div class="leg">
            <img class="imgleg" src="../../assets/images/maca.jfif" width="80px">
            <p class="txtleg">Maçã Argentina<br>R$ 3,89/Kg</p>
            <button class="addleg">Adicionar</button>
          </div>

          
            <div class="leg">
              <img class="imgleg" src="../../assets/images/uva.jfif" width="80px">
              <p class="txtleg">Uva S/Caroço<br>R$ 9,00/Cx</p>
              <button class="addleg">Adicionar</button>
            </div>


              <div class="leg">
                <img class="imgleg" src="../../assets/images/abacate.jfif" width="80px">
                <p class="txtleg">Abacate<br>R$ 3,00/Und</p>
                <button class="addleg">Adicionar</button>
              </div>

  </div>


  <div class="title">Vegetais</div>
  <div class="legumes">
    <div class="leg">
      <img class="imgleg" src="../../assets/images/couveflorroxa.jpg" width="80px">
      <p class="txtleg">Batata Baroa<br>R$ 3,99/Kg</p>
      <button class="addleg">Adicionar</button>
    </div>

    
      <div class="leg">
        <img class="imgleg" src="../../assets/images/acelgasortida.jpg" width="80px">
        <p class="txtleg">Batata Baroa<br>R$ 3,99/Kg</p>
        <button class="addleg">Adicionar</button>
      </div>

      
        <div class="leg">
          <img class="imgleg" src="../../assets/images/CouveToscana.jpg" width="80px">
          <p class="txtleg">Batata Baroa<br>R$ 3,99/Kg</p>
          <button class="addleg">Adicionar</button>
        </div>

        
          <div class="leg">
            <img class="imgleg" src="../../assets/images/alface rajado.jpg" width="80px">
            <p class="txtleg">Batata Baroa<br>R$ 3,99/Kg</p>
            <button class="addleg">Adicionar</button>
          </div>

          
            <div class="leg">
              <img class="imgleg" src="../../assets/images/alface lisa.jpg" width="80px">
              <p class="txtleg">Batata Baroa<br>R$ 3,99/Kg</p>
              <button class="addleg">Adicionar</button>
            </div>


          

  </div>


  <div class="title">Laticínios</div>
  <div class="legumes">
    <div class="leg">
      <img class="imgleg" src="../../assets/images/batata.webp" width="80px">
      <p class="txtleg">Batata Baroa<br>R$ 3,99/Kg</p>
      <button class="addleg">Adicionar</button>
    </div>

    
      <div class="leg">
        <img class="imgleg" src="../../assets/images/beterraba.jfif" width="80px">
        <p class="txtleg">Batata Baroa<br>R$ 3,99/Kg</p>
        <button class="addleg">Adicionar</button>
      </div>

      
        <div class="leg">
          <img class="imgleg" src="../../assets/images/cenoura.jfif" width="80px">
          <p class="txtleg">Batata Baroa<br>R$ 3,99/Kg</p>
          <button class="addleg">Adicionar</button>
        </div>

        
          <div class="leg">
            <img class="imgleg" src="../../assets/images/repolhoroxo.jfif" width="80px">
            <p class="txtleg">Batata Baroa<br>R$ 3,99/Kg</p>
            <button class="addleg">Adicionar</button>
          </div>

          
            <div class="leg">
              <img class="imgleg" src="../../assets/images/mandioca.jfif" width="80px">
              <p class="txtleg">Batata Baroa<br>R$ 3,99/Kg</p>
              <button class="addleg">Adicionar</button>
            </div>


              <div class="leg">
                <img class="imgleg" src="../../assets/images/batatadoceroxa.jfif" width="80px">
                <p class="txtleg">Batata Baroa<br>R$ 3,99/Kg</p>
                <button class="addleg">Adicionar</button>
              </div>

  </div>


  <div class="title">Outros</div>
  <div class="legumes">
    <div class="leg">
      <img class="imgleg" src="../../assets/images/tomperro.jfif" width="80px">
      <p class="txtleg">Temperos Diversos<br>R$ 2,00/Und</p>
      <button class="addleg">Adicionar</button>
    </div>

    
      <div class="leg">
        <img class="imgleg" src="../../assets/images/azeite.png" width="80px">
        <p class="txtleg">Azeite Gallo<br>R$ 21,65/3 Und</p>
        <button class="addleg">Adicionar</button>
      </div>

      
        <div class="leg">
          <img class="imgleg" src="../../assets/images/legurme.png" width="80px">
          <p class="txtleg">Tempero Lergume<br>R$ 10,15/Und</p>
          <button class="addleg">Adicionar</button>
        </div>

        
          <div class="leg">
            <img class="imgleg" src="../../assets/images/carvao.jfif" width="80px">
            <p class="txtleg">Carvão Fogo na Brasa<br>R$ 6,00/Und</p>
            <button class="addleg">Adicionar</button>
          </div>

          
           

  </div>

  <footer>
    <div class="foot">Rua das Flores, nº542 · CEP.: 0000000-000</div>
    <div class="foot">CNPJ.:1000.100.100/0001-00 - HORTI FRUTTI LTDA</div>
  </footer>    
</div>


</ion-content>

