<ion-header [translucent]="true">
  <ion-toolbar>

    
      <div class="header"> <img class="logo" src="../../assets/images/logo.jpg">
        <div class="title">Bem vindo! <a href="">Acesse sua conta</a> ou <a href="">crie uma conta</a></div>
      </div>
  
  </ion-toolbar>
  <div class="btns">
  <button name="button" class="btn1s">Legumes</button> <button name="button" class="btn1">Vegetais</button> <button
    class="btn1" name="button">Frutas</button> <button name="button" class="btn1">Laticínios</button><button
    name="button" class="btn1e">Outros</button></div>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="carousel">
    <img src="../../assets/images/banner2.jfif">
    <img src="../../assets/images/banner3.jpg">
    <img src="../../assets/images/banner0 (2).jfif">
    
   
  </div>

  <div class="promos">
    <img class="promo1" src="../../assets/images/maçapromo.png">
    <img class="promo1" src="../../assets/images/aboburinhapromo.png">
    <img class="promo1" src="../../assets/images/batatapromo.png">
    <img class="promo1" src="../../assets/images/melanciapromo.png">
    <img class="promo1" src="../../assets/images/repolhopromo.png">
    <img class="promo1" src="../../assets/images/all.jpeg">
  </div>
<h4>Ofertas!</h4>
  <div class="of">
    

    <div class="of1">
      <img class="imgof1" src="../../assets/images/carvao.jfif" width="30px">
      <p class="txtof1">Carvão 5kg<br>R$ 9,99/Unidade</p>
      <button class="addof1">Adicionar</button>
      </div>

      <div class="of2">
        <img class="imgof1" src="../../assets/images/legurme.png" width="30px">
        <p class="txtof1">Carvão 5kg<br>R$ 9,99/Unidade</p>
        <button class="addof1">Adicionar</button>
        </div>

        <div class="of3">
          <img class="imgof1" src="../../assets/images/azeite.png" width="30px">
          <p class="txtof1">Carvão 5kg<br>R$ 9,99/Unidade</p>
          <button class="addof1">Adicionar</button>
          </div>

          <div class="of4">
            <img class="imgof1" src="../../assets/images/tomperro.jfif" width="30px">
            <p class="txtof1">Carvão 5kg<br>R$ 9,99/Unidade</p>
            <button class="addof1">Adicionar</button>
            </div>
      
    


  </div>




  <footer>
  <div class="foot">Rua das Flores, nº542 · CEP.: 0000000-000</div>
  <div class="foot">CNPJ.:1000.100.100/0001-00 - HORTI FRUTTI LTDA</div>
</footer>
  <ion-header collapse="condense">
  
  </ion-header>


</ion-content>
