<ion-content>
  <div class="background">
<div class="ctt">  
   
      <div class="sqr1"> 
        <p class="signin">Já tem cadastro? Acompanhe seus pedidos e aproveite as vantagens.</p> 
        <div class="inputs"> <input type="input" placeholder="Telefone, nome de usuário ou email">
        <input type="input" placeholder="Senha">
        <button>Entrar</button></div>
        <div class="forgot">
          <a class="fgt" href="">Esqueceu a
              senha?</a>
              </div>
  </div>
      </div>
  <footer>
    <div class="foot">Rua das Flores, nº542 · CEP.: 0000000-000</div>
    <div class="foot">CNPJ.:1000.100.100/0001-00 - HORTI FRUTTI LTDA</div>
  </footer>
</div>
</ion-content>
